@import '../_variables.scss';

.hero {
    display: block;
    box-shadow: $shadow;
    overflow: hidden;
    text-align: left;
    position: relative;
    background-color: #000;

    & > h1 {
        margin: 0;
        padding: 0.75rem 1.25rem;
        font-size: 1.25rem;
        &:first-line {
            font-size: 1.75rem;
        }
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        text-shadow: 1px 1px 3px #000, 1px 1px 5px #000, 1px 1px 7px #000;
    }
    & > img {
        aspect-ratio: 63 / 14;
    }
}