$color-primary: var(--color-primary);
$contrast-primary: var(--color-primary-contrast);
$color-bg: var(--color-bg);
$color-fg: var(--color-fg);
$color-muted: var(--color-muted);
$color-shadow: var(--color-shadow);
$color-highlight: var(--color-highlight);
$link-color: var(--color-link);
$shadow: 0 1px 4px 0 $color-shadow;
$highlight: 0 1px 6px 2px $color-highlight;

$color-primary-light: #000;
$color-primary-light-contrast: #fff;
$color-primary-dark: #000;
$color-primary-dark-contrast: #fff;

$color-joe: rgb(0, 125, 255);
$color-crystal: rgb(255, 0, 125);

:root {
    --color-primary: #{$color-primary-light};
    --color-primary-contrast: #{$color-primary-light-contrast};
    --color-muted: rgba(0,0,0,.125);
    --color-bg: #fff;
    --color-fg: #212529;
    --color-shadow: rgba(0,0,0,.5);
    --color-highlight: #000;
    --color-link: #03c;

    @media (prefers-color-scheme: dark) {
        --color-primary: #{$color-primary-dark};
        --color-primary-contrast: #{$color-primary-dark-contrast};
        --color-muted: rgba(255,255,255,.125);
        --color-bg: #292e33;
        --color-fg: #fff;
        --color-shadow: #000;
        --color-highlight: #999;
        --color-link: #9cf;
    }
}
